#!/usr/bin/env bash
# Every .envrc file has utility functions from direnv-stdlib in scope,
# read here for more: https://direnv.net/man/direnv-stdlib.1.html

export PROJECT_ROOT="$(realpath "$PWD")"
export R="$PROJECT_ROOT"

